@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(45deg, #85869d, #568d90);
}

.change-color-div {
    display: flex;
    position: absolute;
    min-height: auto;
    top: 10px;
    right: 10px;
}

.change-color-button {
    padding: 5px;
    border: 2px solid black;
    border-radius: 33px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
    transition: 0.3s ease;
}

#generate:hover {
    transform: scale(1.05);
    background-color: #7C007D;
}

.suicide {
    position: relative;
    font-size: 3vw;
    color: #252839;
    -webkit-text-stroke: 0.1vw #383d52;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.ss {
    position: relative;
    font-size: 3vw;
    color: #252839;
    -webkit-text-stroke: 0.1vw #383d52;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.suicide::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #7C007D;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #490404;
    overflow: hidden;
    animation: animate-suicide 6s linear infinite;
}

.ss::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #7C007D;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #490404;
    overflow: hidden;
    animation: animate-ss 6s linear infinite;
}

@keyframes animate-suicide {
    0%,10%,100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

@keyframes animate-ss {
    0%,10%,100% {
        width: 0;
    }
    70%, 90% {
        width: 62%;
    }
}
